<div class="px-5">
    <nav class="d-flex justify-content-between mx-5">
        <div>
            <button 
                class="nav-link btn"
                @onclick="ToShopping"
                >
                Continue Shopping
            </button>
        </div>
        <div>
            <button 
                class="nav-link btn"
                @onclick="ToCart"
                >
                View Cart
            </button>
        </div>
        <div>
            <button 
                class="nav-link btn"
                @onclick="ToCheckout"
                >
                Checkout
            </button>
        </div>
    </nav>
</div>

@code {
    
}